name: Test

on: [push]

jobs:
  example:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Разрешаем запись в репозиторий
    
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Create file
      run: cat Files/* >  Result_$(date +"%Y%m%d%H%M%S").txt
      
    - name: Commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add test*.txt
        git commit -m "Add file"
        git push
